.register {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  user-select: none;

  .main {
    width: 520px;
    height: 560px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .input-box {
      flex: 0 0 68%;
      display: flex;
      background: rgba(255, 255, 255, 0.8);
      flex-direction: column;

      div {
        margin: 1vh auto;
        width: 60%;
      }

      h3 {
        font-size: 38px;
        font-weight: 700;
        text-align: center;
      }

      .register-btn {
        margin: 1vh auto;
        text-align: center;
        width: 40%;
      }

      .to-login {
        span {
          text-align: right;
          display: block;
        }
      }
    }
  }
}

.verification-code {
  display: flex;
  justify-content: space-between;
}

.captcha {
  width: 120px;
  height: 30px;
  border-radius: 4px;
}


