.registerbox {
  flex: 0 0 60%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  div {
    margin: 1vh auto;
    width: 60%;
  }

  h3 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
  }
   .register-btn {
    margin: 1vh auto;
    text-align: center;
    width: 40%;
  }
  .to-login {
    span{
      text-align: right;
      display: block;
    }
  }
}

.verification-code {
  display: flex;
  justify-content: space-between;
}
.captcha {
  width: 120px;
  height: 30px;
  border-radius: 4px;
}


