.a-word {
  margin-top: 10vh;
  flex: 1;
  position: relative;
  background:
          linear-gradient(to left, #000, #000) left top no-repeat,
          linear-gradient(to bottom, #000, #000) left top no-repeat,
          linear-gradient(to left, #000, #000) right bottom no-repeat,
          linear-gradient(to left, #000, #000) right bottom no-repeat;
  background-size: 0.12rem 2rem, 2rem 0.12rem;

  .text {
    padding: 30px;

    p {
      font-size: 18px;
      color: #000;
    }

    span {
      display: block;
      text-align: right;
      color: #000;
    }
  }
}